.container{
    width: 450px;
}
.containt-details{
    min-height: 300px;
    border-bottom: 1px solid #dadfea;
}
input{
    margin: 16px;
    border: none;
    border-bottom: 1px solid #dadfea;
}
.image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.studentdetails-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}